.azul{
    border: 1px dashed blue;
}

.roja{
    border: 1px dashed red;
}

*{
    box-sizing: border-box;
}

#container{
    width: 800px;
    margin: 0 auto;
    background-color: rgba(170, 137, 110, 0.555);
}

.columna{
    float: left;
}

#reset{
    display: block;
    clear: both;
}

#htitulo{
    width: 30%;
    text-align: center;
}

#htitulo h1{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 55px;
}/*em*/

#navega{
    width: 60%;
    text-align: center;
}

#navega li{
    display: inline-block;
}

#ficha{
    width: 70%;
    height: 300px;
}

#social{
    width: 29%;
    height: 300px;
}

